<p-toast></p-toast>
<div class=" flex align-items-center justify-content-center min-h-screen">
    <div class="flex flex-column align-items-center justify-content-center">

        <div style="border-radius:56px;">
            <div class="w-full surface-card py-6 px-5 sm:px-5" style="border-radius:53px">
                <div class="text-center mb-5">

                    <img src="../../../../../assets/layout/images/innova-logo.png" alt="Emoney" class="mb-5 w-12rem flex-shrink-0">
                    <div class="text-900 text-3xl font-medium mb-3">Masraf Takip Yönetim Paneli</div>
                    <span class="text-600 font-medium">Şifremi Unuttum</span>
                    <br>

                </div>

                     <div>
                            <!-- <label for="password" class="block text-900 font-medium text-xl mb-2">Şifre</label>
                            <input id="password" [(ngModel)]="password" placeholder="Şifre" type="password" class="w-full md:w-80 border border-gray-300 rounded-lg px-4 py-2 mb-5 focus:outline-none">


                            <label for="passwordConfirm" class="block text-900 font-medium text-xl mb-2">Şifre Onayla</label>
                            <input id="passwordConfirm" [(ngModel)]="passwordConfirm" placeholder="Şifre Onayla" type="password" class="w-full md:w-80 border border-gray-300 rounded-lg px-4 py-2 mb-5 focus:outline-none"> -->
                            <label for="password" class="block text-900 font-medium text-xl mb-2">Şifre</label>
                            <div class="input-group relative mb-4">
                                <input id="password" [(ngModel)]="password" [type]="type" placeholder="Şifre" class="w-full md:w-80 border border-gray-300 rounded-lg px-4 py-2 focus:outline-none">
                                <span (click)="hideShowPass('password')" class="show-hide-icon pi {{eyeIcon}}"></span>
                            </div>

                            <label for="passwordConfirm" class="block text-900 font-medium text-xl mb-2">Şifre Onayla</label>
                            <div class="input-group relative mb-4">
                                <input id="passwordConfirm" [(ngModel)]="passwordConfirm" [type]="type" placeholder="Şifre Onayla" class="w-full md:w-80 border border-gray-300 rounded-lg px-4 py-2 focus:outline-none">
                                <span (click)="hideShowPass('passwordConfirm')" class="show-hide-icon pi {{eyeIcon}}"></span>
                            </div>



                            <div class="flex" style="justify-content: space-between;">
                            <button class="p-button-danger" pButton pRipple label="İptal" (click)="cancelUpdate()"></button>
                            <button class="p-button-success" pButton pRipple label="Şifreyi Güncelle" (click)="updatePassword()"></button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
