


<!-- Yeni dönem ekle butonu -->

  <!-- Yeni dönem ekle butonu -->

<!-- TO DO -->
  <!-- Buradaki tarih yapısınıda  2023-10-29 16:36:30.8380000 bu tarz geliyor bunu uygulamayı en son güncellenirken  tekrar bakılıcak pipe kullanılabilir -->
<!-- TO DO -->

<p-table #dt  [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" [showPageLinks]="true" responsiveLayout="stack" [rows]="10" [totalRecords]="totalRecords" [paginator]="true"
[rowsPerPageOptions]="[10,50,100]" [showCurrentPageReport]="true"  currentPageReportTemplate="{totalRecords} kayıttan {first} ile {last} arası gösteriliyor" [rowHover]="true"
dataKey="id" [responsive]='true'>
<ng-template pTemplate="caption">
    <div class="grid pt-3 pr-4 pb-0 pl-4">
        <div class="col-12 md:col-6 flex md:flex-row md:justify-content-start md:align-items-center">
            <span class="font-bold m-0">
                <h1 class="m-0">Ödeme İşlemleri</h1>
            </span>
        </div>
        <div class="col-12 md:col-6 flex justify-content-end">
            <button label="Yeni Ödeme Ekle" pButton pRipple pTooltip="Ödeme Ekle" icon="pi pi-plus"
                class="p-button-info p-button-sm ml-1" (click)="openNew()"></button>

                
                <button label="Yeni Dönem Ekle" pButton pRipple pTooltip="Dönem Ekle" icon="pi pi-plus"
                class="p-button-success p-button-sm ml-1"   (click)="createNewPaymentPeriod(payment)"></button>
                
        </div>
       


    </div>
</ng-template>
<ng-template pTemplate="header">

    <tr>

        <th tooltipPosition="top" pTooltip="Adı girerek arama yapabilirsiniz" pSortableColumn="appUserName">Adı
            <p-sortIcon field="appUserName"></p-sortIcon>
        </th>
        <th tooltipPosition="top" pTooltip="Adı girerek arama yapabilirsiniz" pSortableColumn="periodDate">Ödeme Tarihi
            <p-sortIcon field="periodDate"></p-sortIcon>

        </th>
        <th tooltipPosition="top" pTooltip="Soyadı girerek arama yapabilirsiniz" pSortableColumn="paymentAmount">Ödeme Miktarı
          <p-sortIcon field="paymentAmount"></p-sortIcon>
        </th>

        <th tooltipPosition="top" pSortableColumn="isPaid">Ödeme Durumu
            <p-sortIcon field="isPaid"></p-sortIcon>
        </th>


        <th tooltipPosition="top" pTooltip="Adı girerek arama yapabilirsiniz" pSortableColumn="expenseCategoryName">Harcama Kategorisi
            <p-sortIcon field="expenseCategoryName"></p-sortIcon>
        </th>

        <th></th>
        <th></th>
        <th></th>

    </tr>

    <tr>
        <!-- <th *ngIf="showIdColumn">
            <p-columnFilter #cFid [showMenu]="false" matchMode="equals" type="text" field="id"
                (input)="getFilter($event, cFid)"></p-columnFilter>
        </th>
        <th *ngIf="showIdColumn">
            <p-columnFilter #cFappUserId [showMenu]="false" matchMode="equals" type="text" field="appUserId"
                (input)="getFilter($event, cFappUserId)"></p-columnFilter>
        </th>
        <th *ngIf="showIdColumn">
            <p-columnFilter #cFexpenseCategoryId [showMenu]="false" matchMode="equals" type="text" field="expenseCategoryId"
                (input)="getFilter($event, cFexpenseCategoryId)"></p-columnFilter>
        </th> -->
        <th>
            <p-columnFilter #cFappUserName [showMenu]="false" matchMode="equals" type="text" field="appUserName"
                (input)="getFilter($event, cFappUserName)"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter #cFperiodDate [showMenu]="false" matchMode="equals" field="periodDate">
                <ng-template pTemplate="filter" let-value>
                    <p-calendar dateFormat="mm/yy"  view="month" [showButtonBar]="true" dataType="string"  (onSelect)="getFilter($event, cFperiodDate)" appendTo="body"></p-calendar>

                </ng-template>
            </p-columnFilter>
        </th>



        <th>
            <p-columnFilter #cFpaymentAmount [showMenu]="false" matchMode="equals" type="text" field="paymentAmount"
                (input)="getFilter($event, cFpaymentAmount)"></p-columnFilter>
        </th>
        <th>
            <p-dropdown appendTo="body" [options]="isPaidOptions" [(ngModel)]="isPaidFilter" [showClear]="true" (onChange)="onIsPaidFilterChange($event)">
                <ng-template let-option pTemplate="option">
                  <span>{{option.label}}</span>
                </ng-template>
              </p-dropdown>
        </th>

        <th>
            <p-columnFilter #cFexpenseCategoryName [showMenu]="false" matchMode="equals" type="text" field="expenseCategoryName"
                (input)="getFilter($event, cFexpenseCategoryName)"></p-columnFilter>
        </th>

        <th></th>
        <th></th>
        <th></th>



    </tr>
</ng-template>

<!-- TO DO -->
<!-- Buraya kullanıcın isimi ile veriler geliyor ama  aynı isimde kulalnıcılar olabileceği için bunu sonraddan mail veya hem isim hem soy isim  tutarak yapıcaz -->
<!-- TO DO -->

    <ng-template pTemplate="body" let-payment>

        <tr>

        <!-- <td style="width:15%; min-width:15rem;word-break: break-word;"*ngIf="showIdColumn">
            {{ payment.id }}
        </td>
        <td style="width:15%; min-width:15rem;word-break: break-word;"*ngIf="showIdColumn">
            {{ payment.appUserId }}
        </td>

        <td style="width:15%; min-width:15rem;word-break: break-word;"*ngIf="showIdColumn">
            {{ payment.expenseCategoryId }}
        </td> -->

        <td style="width:15%; min-width:15rem;word-break: break-word;">
            {{ payment.appUserName }}
        </td>


        <td style="width:15%; min-width:15rem;word-break: break-word;">
            {{ payment.periodDate | date: 'dd.MM.yyyy' }}
        </td>

        <td style="width:15%; min-width:15rem;word-break: break-word;">
            {{ payment.paymentAmount | currency:'₺':'symbol' }}
        </td>

        <td style="width:15%; min-width:15rem;word-break: break-word;">
            {{ payment.isPaid ? 'Ödendi' : 'Ödenmedi' }}
        </td>


        <td style="width:15%; min-width:15rem;word-break: break-word;">
            {{ payment.expenseCategoryName }}
        </td>
        <td></td>
        <td></td>


        <td style="width:10%; min-width:10rem;word-break: break-word;">
            <button pTooltip="Güncelle" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="updatePayments(payment)" ></button>
            <button pTooltip="Sil"  pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2"  (click)="deletePayment(payment)"></button>

        </td>




    </tr>
    </ng-template>
  </p-table>


      <!-- Aşağı kısım Düzenleye basıldığında açılan pop-up kısmıdır -->
      <p-dialog [(visible)]="PaymentDialog" *ngIf="PaymentDialog"   [contentStyle]="{'overflow':'visible'}" [style]="{width: '450px'}"
      header="Kullanıcı Bİlgileri" [modal]="true" styleClass="p-fluid">
      <ng-template pTemplate="content">

          <!-- <div class="p-field mt-2">
              <label for="appUserName">Adı</label>
              <input type="text" pInputText id="appUserName" [(ngModel)]="payment.appUserName" required [readonly]="isReadOnly"/>

              <small class="p-invalid" *ngIf="submitted && !payment.appUserName" style="color:rgb(253, 5, 5)">Adı alanı zorunludur.</small>
          </div> -->


          <div class="p-field mt-2">
            <label for="appUserName">Adı</label>
            <p-dropdown appendTo="body" styleClass="headerDropdown"
            [options]="appuser" optionLabel="firstName" [(ngModel)]="payment.appUserId " optionValue="id"
                 ></p-dropdown>
           </div>

          <div class="p-field mt-2">
            <label for="paymentAmount">Ödeme Miktarı</label>
            <input type="text" pInputText id="paymentAmount" [(ngModel)]="payment.paymentAmount" required />

            <small class="p-invalid" *ngIf="submitted && !payment.paymentAmount" style="color:rgb(253, 5, 5)"> Ödeme Miktarı alanı zorunludur.</small>
            <small class="p-error" *ngIf="submitted && (payment.paymentAmount !== undefined && (payment.paymentAmount < 0 || payment.paymentAmount > 100000))" style="color:rgb(253, 5, 5)">Ödeme alanı 0 ile 100000 arasında olmalıdır.</small>
        </div>



          <div class="p-field mt-2">
          <label for="expenseCategoryName">Harcama Kategorisi</label>
          <p-dropdown appendTo="body" styleClass="headerDropdown"
          [options]="expenseCategories" optionLabel="name" [(ngModel)]="payment.expenseCategoryId " optionValue="id"
               ></p-dropdown>
         </div>



          <div class="p-field mt-2">
            <label for="isPaid">Ödendi</label>
            <p-checkbox id="isPaid" [(ngModel)]="payment.isPaid" [binary]="true" inputId="binary" ></p-checkbox>
        </div>

        <div class="p-field mt-2">
            <label for="periodDate">Ödeme Tarihi</label>
            <p-calendar id="periodDate"  dataType="string" [showIcon]="true" dateFormat="yy-mm-dd" [(ngModel)]="payment.periodDate" ></p-calendar>
            <small class="p-invalid" *ngIf="submitted && !payment.periodDate" style="color:rgb(253, 5, 5)">Ödeme Tarihi alanı zorunludur.</small>
        </div>


          <!-- <div class="p-field mt-2">
              <label for="paymentDate">PaymentDate</label>
              <input type="date" pInputText id="paymentDate" [value]="payment.paymentDate | date: 'yyyy-MM-dd'" required />
              <small class="p-invalid" *ngIf="submitted && !payment.paymentDate" style="color:red">Tarih Alanı Zorunludur.</small>
          </div> -->

           <!-- <div class="p-field mt-2">
              <label for="password">Şifre</label>
              <input [type]="type" pInputText id="password" [(ngModel)]="users.password" required [readonly]="isReadOnly"/>
              <span (click)="hideShowPass()" class="pi {{eyeIcon}}"></span>
              <small class="p-invalid" *ngIf="submitted && !users.password" style="color:red">Şifre alanı zorunludur.</small>

          </div> -->

      </ng-template>
      <ng-template pTemplate="footer">
          <button pButton pRipple label="İptal" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
          <button pButton pRipple label="Kaydet" icon="pi pi-check" class="p-button-success" (click)="savePayment()"></button>
      </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

