<p-panel class="custom-panel">
    <div class="p-grid p-fluid">
      <div class="p-col-12 p-md-4">
        <div class="p-field cutom-input">
          <label for="oldPassword">Mevcut Şifre</label>
          <input id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" [type]="passwordTypes['oldPassword']" class="p-inputtext" required>
          <span (click)="hideShowPass('oldPassword')" class="show-hide-icon pi {{eyeIcons['oldPassword']}}"></span>
        </div>
      </div>

      <div class="p-col-12 p-md-4">
        <div class="p-field cutom-input">
          <label for="newPassword">Yeni Şifre</label>
          <input id="newPassword" [(ngModel)]="newPassword" name="newPassword" [type]="passwordTypes['newPassword']" class="p-inputtext" required>
          <span (click)="hideShowPass('newPassword')" class="show-hide-icon pi {{eyeIcons['newPassword']}}"></span>
        </div>
      </div>

      <div class="p-col-12 p-md-4">
        <div class="p-field cutom-input">
          <label for="confirmPassword">Yeni Şifre Tekrar</label>
          <input id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" [type]="passwordTypes['confirmPassword']" class="p-inputtext" required>
          <span (click)="hideShowPass('confirmPassword')" class="show-hide-icon pi {{eyeIcons['confirmPassword']}}"></span>
        </div>
      </div>

      <div class="p-col-12 cutom-input">
        <button pButton type="button" label="Şifreyi Değiştir" (click)="handleChangePassword()" class="p-button-success"></button>
      </div>
    </div>
  </p-panel>
