
  .custom-popup .leaflet-control-geocoder-alternatives {
    width: 100%;
  }
  
  
  
  
  .custom-popup .leaflet-control-geocoder-form input {
      font-size: 120% !important;
      border: 0 !important;
      background-color: transparent !important;
      width: 100%;
  }